body {
  background-color: #FAF6F6;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #e0c6d2;
  padding: 20px;
  text-align: center;
  color: white;
}

.header h1 {
  margin: 0;
  font-weight: bold;
}

.container {
  background-color: #fff0f6;
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.fila {
  display: grid;
  grid-template-columns: 50px 140px 1fr 120px 120px;
  align-items: center;
  padding: 10px 0;
}

.encabezado {
  background-color: #edcbd7;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.producto {
  border-bottom: 2px solid #D4BEBE;
}

.btn-delete {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.contador {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contador button {
  background-color: #cb7994;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
}

.contador input {
  width: 40px;
  text-align: center;
  border: 1px solid  #cb7994;
  border-radius: 6px;
}

.total-articulos {
  font-weight: bold;
  margin-top: 15px;
}

.totales p {
  margin: 4px 0;
}

.prodNuevo {
  background-color: #ffd6e7;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid  #cb7994;
}

.prodNuevo h3 {
  text-align: center;
  margin-bottom: 15px;
}

.prodNuevo label {
  display: block;
  margin-top: 10px;
}

.prodNuevo input {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #cb7994;
}

.btn-agregar {
  margin-top: 15px;
  width: 100%;
  background-color:  #cb7994;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn-agregar:hover {
  background-color: #a64a6f;
}

.img-carrusel {
  height: 280px;
  object-fit: cover;
  border-radius: 14px;
}

.carrusel-cuadrado {
  max-width: 320px;      
  margin: auto;          
}

.carrusel-cuadrado .carousel-inner {
  aspect-ratio: 1 / 1; 
  border-radius: 18px;
  overflow: hidden;
}

.carrusel-cuadrado img {
  width: 100%;
  height: 100%;
  object-fit: cover;    
}
