<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Almacen de maquillaje</title>
</head>

<body>
  <header class="header">
    <h1>Almacén de Maquillaje</h1>
        </header>

  <main id="app" class="container">
    <div class="row">

      <!-- COLUMNA IZQUIERDA (LISTA DE PRODUCTOS) -->
      <section class="col-md-8">

        <div class="fila encabezado">
          <span></span>
          <span>Cantidad</span>
          <span>Descripción</span>
          <span>Precio</span>
          <span>Importe</span>
        </div>

        <!-- PRODUCTOS -->
        <div 
          class="fila producto"
          v-for="(producto, i) in productos"
          :key="i"
        >
          <!-- ELIMINAR -->
          <button class="btn-delete" @click="eliminar(i)">🗑️</button>

          <!-- CANTIDAD -->
          <div class="contador">
            <button @click="disminuir(i)">-</button>
            <input type="text" :value="producto.cantidad" readonly>
            <button @click="aumentar(i)">+</button>
          </div>

          <!-- DATOS -->
          <span>{{ producto.nombre }}</span>
          <span>${{ producto.precio }}</span>
          <span>${{ producto.precio * producto.cantidad }}</span>
        </div>

        <!-- TOTALES -->
        <hr>

        <p class="total-articulos">
          Productos: {{ totalProductos }}
        </p>

        <div class="totales">
          <p>Subtotal: <strong>${{subtotal}}</strong></p>
          <p>IVA: <strong>${{iva}}</strong></p>
          <p>Total: <strong>${{total}}</strong></p>
        </div>

      </section>

      <!-- --------- P T .  D E R E C H A  ---------- -->
      <aside class="col-md-4">

        <div class="prodNuevo">
          <h3>Nuevo Maquillaje</h3>

          <label>Nombre:</label>
          <input type="text" v-model="nuevoName">

          <label>Cantidad:</label>
          <input type="number" v-model="nuevaCant">

          <label>Precio:</label>
          <input type="number" v-model="nuevoPrecio">

          <button class="btn-agregar" @click="agregarProducto">
            Agregar
          </button>
        </div>

      </aside>

      <!----------------- D I V  C A R R O U S E L ---------------->
    </div>

    <div id="carouselMaquillaje" class="carousel slide carrusel-cuadrado mb-4">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselMaquillaje" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#carouselMaquillaje" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#carouselMaquillaje" data-bs-slide-to="2"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/maquillajes1.jpg" class="d-block w-100 img-carrusel">
    </div>
    <div class="carousel-item">
      <img src="../images/makeup2.jpg" class="d-block w-100 img-carrusel">
    </div>
    <div class="carousel-item">
      <img src="../images/makeup3.jpg" class="d-block w-100 img-carrusel">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselMaquillaje" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselMaquillaje" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>

  </main>
 
    <script src="..//js/vueFile.js"></script>
    <script src="..//js/main.js"></script>
</body>
</html>